<div class="cardArtWork">
  <h2>Direction</h2>
  <!--<div class="directionDistanceDiv" *ngFor="let item of TableItem">
    <app-select [id]="item.id" [modelValue]="item.direction"> </app-select>
    <app-clear-input [id]="item.id" [value]="item.distance" [titleText]="'Distance'">  </app-clear-input>
    {{item.id}}
  </div>-->
  <div class="directionDistanceDiv" *ngFor="let item of arrayDistance.controls; index as i">
    <app-select [formController]="arrayDirection.controls[i]"> </app-select>
    <label>
      <input matInput type="number" [formControl]="arrayDistance.controls[i]">
    </label>
    {{i}}
  </div>

  <div class="espacedBtn">
    <button mat-mini-fab color="primary" (click)="addNewOne()">
      <mat-icon>add</mat-icon>
    </button>
<!--    <button mat-mini-fasab color="primary" *ngIf="TableItem.length>1" (click)="removeOne()">-->
    <button mat-mini-fab color="primary" *ngIf="arrayDirection.controls.length>1" (click)="removeOne()">
      <mat-icon>remove</mat-icon>
    </button>
  </div>

</div>
