.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

img {
  max-height: 300px;
}


::ng-deep .vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .vertical-center-modal .ant-modal {
  top: 25%;
}

::ng-deep .vertical-center-modal .ant-modal-content {
  border-radius: 10px;
}

::ng-deep .vertical-center-modal .ant-modal-header {
  border-radius: 10px;

}
